* html .bwp-gxs-log { 
	height: expression( this.scrollHeight > 200 ? "200px" : "auto" );
}
.bwp-gxs-log {
	font-size: 0.95em;
	background-color: #ffffff;
	padding: 5px 10px; padding-top: 0px;
	width: 90%;
	border: 1px solid #cccccc;
	max-height: 200px;
	overflow: auto;
}

.bwp-table {
	width: 100%;
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	padding: 10px;
}

.bwp-table th {
	text-align: left;
}

.bwp-table th span {
	text-decoration: underline;
}

.bwp-table td, .bwp-table th {
	padding: 3px 7px;
}

.bwp-table td.bwp_gxs_news_cat_td {
	width: 148px;
}